.btn-primary {
    background-color: #212529;
    border-color: #000000;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.card .btn {
}
.card .card-front, .card .card-back {
    position: absolute;
    box-sizing:border-box;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition:.5s ease-in-out;
    align-items: center;
    border-radius: 10px;
}

.card .card-front {
    transform: rotateY(0deg);
    overflow: hidden;
    z-index: 1;
}

.card .card-back {
    transform: rotateY(180deg);
    display: table;
    z-index: 2;
}

.card.flip .card-front {
    transform: rotateY(180deg);
}

.card.flip .card-back {
    transform: rotateY(360deg);
}
  

.footer {
    background-color: #212529;
}

.icon {
    padding: 0px 25px;
}

.jumbotron {
    background: url("../images/water.jpg") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    padding: 7% 0%;
}

.jumbotron img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 80px;
    width: 80px;
}

.navbar-spacer {
    height: 50px;
}

.nav-item {
    padding: 0px 10px;
}

.panel-dark {
    background-color: #212529;
    color: #e9e9e9;
    padding: 5% 10% 5% 10%;
    width: 70%;
    margin: 10px auto;
}
.panel-light {
    background-color: #e9e9e9;
    color: #212529;
    padding: 5% 10% 5% 10%;
    width: 70%;
    margin: 10px auto;
}


#carousel {
    height: 100px;
}

#name-highlight {
    color: #00254c;
}