.footer {
    background-color: #212529;
}

.icon {
    padding: 0px 25px;
}

.jumbotron {
    background: url("../images/water.jpg") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    padding: 7% 0%;
}

.jumbotron img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100px;
    width: 100px;
}

.navbar-spacer {
    height: 50px;
}

.nav-item {
    padding: 0px 10px;
}

.panel-dark {
    background-color: #212529;
    color: #e9e9e9;
    padding: 5% 10% 5% 10%;
    width: 70%;
    margin: 10px auto;
}
.panel-light {
    background-color: #e9e9e9;
    color: #212529;
    padding: 5% 10% 5% 10%;
    width: 70%;
    margin: 10px auto;
}


#carousel {
    height: 100px;
}

#name-highlight {
    color: #00254c;
}