/* Global */
/* 
a:link {
    color: #999999;
    text-decoration: none;
}

a:visited {
    color: #999999;
    text-decoration: none;
}

a:hover {
    color: #e9e9e9;
    text-decoration: none;
}

a:active {
    color: #999999;
    text-decoration: none;
} */

body {
    font-family: "Roboto", sans-serif;
}

/* Classes */

.card-info {
    background: #fefefe;
    border: 1px solid #8a8a8a;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 1rem 0;
    overflow: hidden;
    border-radius: 0;
}

.card-info .card-info-label {
    border-color: transparent #8a8a8a transparent transparent;
    border-color: rgba(255, 255, 255, 0) #8a8a8a rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info .card-info-label {
    border-style: solid;
    border-width: 0 4.375rem 2.5rem 0;
    float: right;
    height: 0px;
    width: 0px;
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
}
  
.card-info .card-info-content {
    padding: 0.5rem 1.5rem 0.875rem;
}
  
.card-info .card-info-label-text {
    color: #fefefe;
    font-size: 0.75rem;
    position: relative;
    right: -2.5rem;
    top: 2px;
    white-space: nowrap;
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
}

.card-info.app {
    border-color: #a4c639;
}

.card-info.app .card-info-label {
    border-color: transparent #a4c639 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #a4c639 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info.other {
    border-color: #767676;
}

.card-info.other .card-info-label {
    border-color: transparent #767676 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #767676 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info.web {
    border-color: #37a0e6;
}

.card-info.web .card-info-label {
    border-color: transparent #37a0e6 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #37a0e6 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.dark {
    background-color: #212529;
    color: #FFFFFF;
}

.icon {
    color: #000000;
}

.menu .menu-text {
    font-size: large;
    font-weight: 200;
    color: #FFFFFF;
}

.spacer {
    height: 50px;
}

.sticky-topbar {
    width: 100%;
    background-color: #212529;
}

.tech-tag {
    display: inline-block;
    margin: 3px 3px 3px 0;
    font-family: Inconsolata,monospace;
    font-size: .75rem;
    font-weight: 700;
    padding: 2px 7px;
    border-radius: 3px;
    color: #37a0e6;
    border: 1px solid #37a0e6;
    background: 0 0;
}
.top-bar {
    background-color: #212529;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.top-bar ul {
    background-color: #212529;
}

/* IDs */

#jumbotron {
    background: url("../images/fog.jpg") center center no-repeat;
    background-size: cover;
    background-position-y: 250%;
    background-attachment: fixed;
    background-color: #000000;
}